# === PYTHON / DJANGO ===
__pycache__/
*.py[cod]
*.pyo
*.log
db.sqlite3

# === VIRTUAL ENVIRONMENTS ===
venv/
ENV/
env/

# === ENVIRONMENT FILES ===
.env
*.env
*.env.local
*.env.secrets
server/.env
server/.env2
server/.env.secrets

# === VUE / NODE ===
node_modules/
dist/
dist-ssr/
*.local
frontend/test-results/
frontend/playwright-report/

# === LOGS ===
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# === VSCODE / SYSTEM / IDE ===
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# === PLAYGROUND ===
frontend-playground/

# === SERVER DATA ===
server/data/*.json
server/data/*.bin
